/* header card styling */
.home {
  background-color: #efeff5;
}
.headerCard {
  margin: 50px;
}
.clydeImage {
  height: 65vh;
  width: 40vw;
}

.headerTxt {
  color: rgb(8, 5, 5);
  /* position: absolute; */
  /* top: 450px; */
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  padding: 10px;
  display: inline;
  align-content: center;
}
/* .headerImage {
  width: 80vw;
  margin: 20vw 50vw;
  height: 210px;
} */
.blog-cards {
  padding-top: 100px;
  margin: 20px;
  margin-top: 1000px;
}

/* meet the parents styling */
.about-title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 5px;
  padding-top: 50px;
}
.aboutparents-bg {
  background-color: #dfdfde;
  text-align: center;
}

.about-photo {
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 70vh;
}

.bioText {
  margin-top: 20px;
  padding-bottom: 30px;
  align-items: center;
}

.bio {
  text-align: center;
  width: 80%;
  padding: 15px;
  margin: auto;
  font-size: medium;
}
.bio-card {
  background-color: #dfdfde;
}
